.season_tabs {
    background-color: #eeeeee;
    position: relative;
    min-height: 500px;
    height: fit-content;
    /* This part sucks */
    clear: both;
    margin: 25px 0;
}

.season_tab {
    float: left;
    clear: both;
    width: 286px;
}

.season_tab label {
    background: #f2f2f2;
    padding: 7px;
    color: rgb(87, 87, 87);
    border: 0.5px solid #ccc;
    margin-left: -2px;
    font-size: 14px;
    vertical-align: middle;
    position: relative;
    font-weight: 500;
    width: 250px;
    height: 43px;
    display: table-cell;
}

.season_tab label i {
    padding-right: 5px;
}

.season_tab [type=radio] {
    display: none;
}

.season_content {
    width: 350px;
    min-height: 500px;
    position: absolute;
    top: 0;
    left: 250px;
    background: white;
    right: 0;
    bottom: 0;
    /* overflow-x: scroll; */
    overflow-y: scroll;

    padding: 20px;
    border: 1px solid #ccc;
    border-left: none;
}

.season_content span {
    animation: 0.5s ease-out 0s 1 slideInFromTop;
}

[type=radio]:checked~label {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border: 0.5px solid rgb(226, 226, 226);
    border-left: 4px solid #ff0000;
    z-index: 2;
    border-right: none;
}

[type=radio]:checked~label~.season_content {
    z-index: 1;
}

.contentPayFirst div {
    font-size: 15px;
    margin: 30px 0px;
    width: 100%;
    font-weight: 500;

}

.headingh6 {
    margin-top: 20px;
}

.season_content_flex {
    display: flex;
    justify-content: space-between;
}

.contentPayFirst i {
    font-size: 25px;
}

.contentPayFirst div:nth-child(2) {
    margin-top: 40px;
}

.contentPayFirst .codOpenBar {
    margin: 0 !important;
    padding: 0;
}

.codOpenBar {
    display: none;
}

.codOpenBar div {
    margin: 0;
    width: 80%;
    padding: 3px 4px;
    font-weight: 200;
    font-size: 11px;
    background: gray;
    color: white;

}


#googlePayHide {
    display: none;
}

.contentPayFirst .input-group .input-group-text,
#googlePayHidden .input-group .input-group-text {
    padding: 0 !important;
}

.contentPayFirst .input-group .input-group-text select,
#googlePayHidden .input-group .input-group-text select {
    width: 110px;
    font-size: 12px;
    border: none;
}


:focus-visible {
    outline: none !important;
}

#paynowbtnA {
    display: none;
}

.codVisible .codOpenBar {
    display: block;
}

.season_content p {
    font-size: 13px;
    font-weight: 500;
}

.season_content h6 {
    padding-bottom: 20px;
    font-weight: 600;
}

.season_content_flex2 {
    display: flex;
    justify-content: start;

}

.season_content_flex2 img {
    margin: 0px 10px;
    width: 40px;
    height: 35px;
    border-radius: 40px;
}

#payNowbtn1 .cartPricingPlaceO {
    margin-top: 30px;

}



.season_content ul li {
    border-bottom: 1px solid rgb(226, 226, 226);
    /* padding-bottom: 20px; */
    padding: 20px 0px;
}

#googlePayHidden,
#bhimPayHidden,
#payNowbtn1 {
    display: none;
    margin-top: 30px;
}

#bhimPayHidden a input {
    width: 100%;
    padding: 5px 5px;
    font-size: 14px;
    border-radius: 10px;
    border: 0.5px solid rgb(226, 226, 226);
    margin-bottom: 10px;

}

#paytmpaymentHidden,
#airtelHidden,
#payzappHidden,
#freechargehidden,
#mobiqwikHidden,
#iciciHidden,
#simplHidden,
#lazypayHidden,
#hdfcCreditHidden,
#hdfcDebitHidden,
#iciciCredithidden,
#iciciDebitHidden,
#kotakcreditHidden,
#kotakDebitHidden {
    margin-top: 20px;
    display: none;
}

.creditcardForm input {

    width: 100%;
    font-size: 14px;
    padding: 7px 10px;
    margin-top: 15px;
    border-radius: 10px;
    border: 0.5px solid rgb(223, 223, 223);
}

.creditcardForm input::placeholder {
    font-size: 14px;
    text-align: center;
}

#CredFormButton .cartPricingPlaceO,
#CredFormButton {
    border-radius: 10px;
    margin-top: 20px;

}

@media screen and (max-width:650px) {
    .season_tabs {
        margin: auto;
        width: 340px;
    }

    .season_tab label {
        width: 140px;
    }

    .season_content {
        width: 200px;
        left: 140px;
    }

    .headingh6 {
        text-align: center;
    }

    .cart2applyCoupon {
        margin-left: 50px
    }
}